
<template name="baseLayout">

<nav>
	<div class="navbar navbar-light bg-light">

    <a ref="#" class="navbar-brand">Projects Manager App</a>

    <ul id="nav-mobile" class="nav nav-pills">

    	{{> loginButtons}}
    	{{#if currentUser}}
    	    <li> <a href="{{ pathFor 'profile'}}">Mi Perfil</a></li>
					<!--<li> <a href="{{pathFor 'act_profile'}}">Actualizar Perfil</a></li>-->
   		    <li> <a href="{{ pathFor 'projects'}}">Proyectos</a></li>
        {{/if}}
    </ul>
</div>
</nav>

{{#momentum plugin="growl"}}
{{#if Template.subscriptionsReady}}
  {{>yield}}
{{/if}}
{{/momentum}}

</template>
