<template name="baseLayout">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema Integral de Gestión de Alumnos</title>

    <!-- Custom styles for this template -->
    <link href="../../simple-sidebar.css" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color: #563d7c;">
      <button class="btn btn-primary" style="background-color: #563d7c; border:none; box-shadow: none;}" id="menu-toggle"><i class="fa fa-bars fa-2x"></i></button>
      <i class="navbar-brand"></i>
      <i class="navbar-brand">
        <img src="/images/logo4.png" width="36" height="36" alt=""></i>
      <i class="navbar-brand">S.I.G.A</i>
      <ul class="navbar-nav">

      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ pathFor 'profile'}}">{{currentUser.profile.surname}} {{currentUser.profile.name}}</a>
        </li>
        <li class="nav-item">
          {{#if currentUser}}
            <a class="nav-link" id="logout" href="#"> Salir</a>
          {{else}}
            <a class="nav-link" id="vacio" href="#" style="color: #ffffff;"> </a>
          {{/if}}
        </li>
        <li class="nav-link">
          {{currentTime}}
        </li>
      </ul>

    </nav>
    <div class="d-flex toggled" id="wrapper">

      <!-- Sidebar -->
      <div class="border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-center font-weight-bold font-italic" style="background-color: #848484;">MENU </div>
        <div class="list-group ">
          {{#if isInRole 'admin'}}
            <a class="list-group-item list-group-item-action list-group-item-primary " href="{{ pathFor 'alumnoForm'}}">Cargar Alumno</a>
            <a class="list-group-item list-group-item-action list-group-item-primary " href="{{ pathFor 'tutor_form'}}">Nuevo Tutor</a>
            <a class="list-group-item list-group-item-action list-group-item-primary " href="{{ pathFor 'cursos_form'}}">Nuevo Curso</a>
            <a class="list-group-item list-group-item-action list-group-item-primary " href="{{ pathFor 'materiaForm'}}">Nueva Materia</a>
            <a class="list-group-item list-group-item-action list-group-item-primary " href="{{ pathFor 'materiaDocente'}}">Asignar Materia</a>
            <a class="list-group-item list-group-item-action list-group-item-primary " href="{{ pathFor 'tablaAlumno'}}">Planillas</a>
          {{/if}}
          {{#if isInRole 'docente'}}
            <a class="list-group-item list-group-item-action list-group-item-primary " href="{{ pathFor 'tablaAlumno'}}">Planillas</a>
          {{/if}}
          {{#if isInRole 'secretario'}}
            <a class="list-group-item list-group-item-action list-group-item-primary " href="{{ pathFor 'alumnoForm'}}">Cargar Alumno</a>
            <a class="list-group-item list-group-item-action list-group-item-primary " href="{{ pathFor 'tutor_form'}}">Nuevo Tutor</a>
            <a class="list-group-item list-group-item-action list-group-item-primary " href="{{ pathFor 'cursos_form'}}">Nuevo Curso</a>
            <a class="list-group-item list-group-item-action list-group-item-primary " href="{{ pathFor 'materiaForm'}}">Nueva Materia</a>
            <a class="list-group-item list-group-item-action list-group-item-primary " href="{{ pathFor 'materiaDocente'}}">Asignar Materia</a>
          {{/if}}
        </div>
      </div>

      <div id="page-content-wrapper">




        <div class="container">
          {{#momentum plugin="growl"}}
            {{#if Template.subscriptionsReady}}
              {{>yield}}
            {{/if}}
          {{/momentum}}
        </div>

      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

  </body>

</template>
