<template name="materiadocente">
  <div class="row">
    <div class="col-12">
      <h2>Asignar una Materia a un Docente</h2>
      <!--//////////////////////////////////////////////////////-->
  <div class="container">
    <div class="col-3 md-auto">
    <div class="row justify-content-start">
        <form class="form " id="asignMateriaDocente">
        <div class="modal-body ">
          <div class="panel panel-warning">
            <div class="panel-body">
              <div class="form-group">
                <label for="usr">Docente</label>
                <input class="form-control typeahead" id="id_docente" type="text" placeholder="DNI del Docente" autocomplete="off" spellcheck="off" data-source="docente" />
              </div>
              <div class="form-group">
                <label for="usr">Materia</label>
                <input class="form-control typeahead" id="id_materia" type="text" placeholder="Nombre de la materia" autocomplete="off" spellcheck="off" data-value-key="name" data-source="data" />
              </div>
              <div class="form-group">
                <label for="usr">Fecha de Asignación</label>
                <input type="date" class="form-control form-control tt-hint" id="fecha_inicio">
              </div>
              <div class=form-group>
                <label for="usr">Situacion de Revista</label>
                <select value="" class="form-control" id="revista">
                  <option selected="selected" disabled value="">Seleccione una opción</option>
                  <option value="interinoCondicional">Interino Condicional</option>
                  <option value="interino">Interino</option>
                  <option value="suplenteCondicional">Suplente Condicional</option>
                  <option value="suplente">Suplente</option>
                  <option value="titular">Titular</option>
              </select>
              </div>
              <div class=form-group>
                <label for="usr">Estado Actual</label>
                <select value="" class="form-control" id="estado">
                  <option selected="selected" disabled value="">Seleccione una opción</option>
                  <option value="activo">Activo</option>
                  <option value="licencia">Licencia</option>
                  <option value="tareasReadecuadasl">Tareas readecuadas</option>
                  <option value="baja">Baja</option>

              </select>
              </div>
              <!--						<div class="form-group col-md-12">
  						<label for="usr">Alumno</label>
              <input class="form-control typeahead" id="dni_alumno" type="text"
       placeholder="DNI del Alumno a Asignar"
       autocomplete="off" spellcheck="off"
       data-source="alumno"/>
  					</div> -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="submit" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
  </div>

</template>
