<template name="tablaAlumno">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" colspan="18">Curso:</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th scope="col-12" colspan="2">Materia: </th>
        <th scope="col-12" colspan="5">1 Trimestre </th>
        <th scope="col-12" colspan="5">2 Trimestre </th>
        <th scope="col-12" colspan="5">3 Trimestre </th>
      </tr>
    </thead>
    <thead>
    <tr>
      <th scope="col">Documento</th>
      <th scope="col">Apellido y Nombre</th>
      <th scope="col">N1</th>
      <th scope="col">N2</th>
      <th scope="col">N3</th>
      <th scope="col">N4</th>
      <th scope="col">Prom</th>
      <th scope="col">N1</th>
      <th scope="col">N2</th>
      <th scope="col">N3</th>
      <th scope="col">N4</th>
      <th scope="col">Prom</th>
      <th scope="col">N1</th>
      <th scope="col">N2</th>
      <th scope="col">N3</th>
      <th scope="col">N4</th>
      <th scope="col">Prom</th>
      <th scope="col">P.Final</th>
    </tr>
  </thead>
  <tr>
    <th>
      {{#each alumnos}}
        <span>{{alum}}</span>
      {{/each}}
    </th>

  </tr>
</table>
</template>
