<template name="tablaAlumno">
{{#if alumnos}}
  <table class="table table-bordered table-responsive" id="tabla">
    <thead>
      <tr>
        <th scope="col" colspan="18">Curso:</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th scope="col-12" colspan="2">Materia: </th>
        <th scope="col-12" colspan="5">1 Trimestre </th>
        <th scope="col-12" colspan="5">2 Trimestre </th>
        <th scope="col-12" colspan="5">3 Trimestre </th>
      </tr>
    </thead>
    <thead>
    <tr>
      <th scope="col">Documento</th>
      <th nowrap scope="col">Apellido y Nombre</th>
      <th scope="col">N1</th>
      <th scope="col">N2</th>
      <th scope="col">N3</th>
      <th scope="col">N4</th>
      <th scope="col">Prom</th>
      <th scope="col">N1</th>
      <th scope="col">N2</th>
      <th scope="col">N3</th>
      <th scope="col">N4</th>
      <th scope="col">Prom</th>
      <th scope="col">N1</th>
      <th scope="col">N2</th>
      <th scope="col">N3</th>
      <th scope="col">N4</th>
      <th scope="col">Prom</th>
      <th scope="col">P.Final</th>
    </tr>
  </thead>
      {{#each alumnos}}
      <tr>
        <td  id="prueba">
          {{dni}}
        </td>
      <td Style="font-size:80%" id='td'>
        {{surname}},  {{name}}
      </td>
      <td scope="col"><input type="text" class="form-control-plaintext" id="t1sn1s{{dni}}"></td>
      <td scope="col"><input type="text" class="form-control-plaintext" id="t1sn2s{{dni}}"></td>
      <td scope="col"><input type="text" class="form-control-plaintext" id="t1sn3s{{dni}}"></td>
      <td scope="col"><input type="text" class="form-control-plaintext" id="t1sn4s{{dni}}"></td>
      <th scope="col"><p id="1trim"></p></th>
      <td scope="col"><input type="text" class="form-control-plaintext" id="t2sn1s{{dni}}"></td>
      <td scope="col"><input type="text" class="form-control-plaintext" id="t2sn2s{{dni}}"></td>
      <td scope="col"><input type="text" class="form-control-plaintext" id="t2sn3s{{dni}}"></td>
      <td scope="col"><input type="text" class="form-control-plaintext" id="t2sn4s{{dni}}"></td>
      <th scope="col"><p id="2trim"></p></th>
      <td scope="col"><input type="text" class="form-control-plaintext" id="t3sn1s{{dni}}"></td>
      <td scope="col"><input type="text" class="form-control-plaintext" id="t3sn2s{{dni}}"></td>
      <td scope="col"><input type="text" class="form-control-plaintext" id="t3sn3s{{dni}}"></td>
      <td scope="col"><input type="text" class="form-control-plaintext" id="t3sn4s{{dni}}"></td>
      <th scope="col"><p id="3trim"></p></th>
      <th scope="col"><input type="text" class="form-control-plaintext"></th>

      </tr>
      {{/each}}
</table>

{{/if}}
<input type="text" id="input" value="{{dni}}">
</template>
